In [1]:
m=[]
for a in range(10):
    m.append(int(input('enter the elements')))
    a=a+1
x=int(input('enter the number to be searched'))
i=0
while i < len(m):
    if x==m[i]:
        print('true')
    else:
        print('false')
    i=i+1

false
false
false
false
true
false
false
false
false
false

In [3]:
# Python 3 program for recursive binary search.
# Modifications needed for the older Python 2 are found in comments.

# Returns index of x in arr if present, else -1
def binary_search(arr, low, high, x):

	# Check base case
	if high >= low:

		mid = (high + low) // 2

		# If element is present at the middle itself
		if arr[mid] == x:
			return mid

		# If element is smaller than mid, then it can only
		# be present in left subarray
		elif arr[mid] > x:
			return binary_search(arr, low, mid - 1, x)

		# Else the element can only be present in right subarray
		else:
			return binary_search(arr, mid + 1, high, x)

	else:
		# Element is not present in the array
		return -1

# Test array
arr = [ 2, 3, 4, 10, 40 ]
x = 10

# Function call
result = binary_search(arr, 0, len(arr)-1, x)

if result != -1:
	print("Element is present at index", str(result))
else:
	print("Element is not present in array")

Element is present at index 3

In [21]:
b=int(input("enter the base length"))
h=int(input("enter the height length"))
area=0.5*b*h
print("area of the triangle is",area)

area of the triangle is 96.0

In [32]:
a,b,c=14,22,333665544
if a>b:
    print("greatest among these",a)
elif b>c:
      print("greatest among these",b)
else:
    print("greatest among these",c)

greatest amoung these 333665544

In [40]:
#ax^2+bx+c
a = int(input('Enter a: '))  
b = int(input('Enter b: '))  
c = int(input('Enter c: '))  
d = (b**2) - (4*a*c)  
m = (-b-((d))**0.5) /(2*a) 
n = (-b+((d))**0.5) /(2*a) 
print("roots 1:-",m,"root 2:-",n)
print(type(m))
print(type(n))

In [2]:
for i in range(1,11):
    print("12 * ",i," = ",12*i)

12 *  1  =  12
12 *  2  =  24
12 *  3  =  36
12 *  4  =  48
12 *  5  =  60
12 *  6  =  72
12 *  7  =  84
12 *  8  =  96
12 *  9  =  108
12 *  10  =  120

In [18]:
m="mani teja bhumaraju"
n=list(m)
print(max(m))
print()
k=range(30,51)
print(type(k))
z=list(k)
print(type(z))
print(z[:])

u

<class 'range'>
<class 'list'>
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [22]:
m=[1,1,12,15,15,11]
n=[]
for i in m:
    if i not in n:
        n.append(i)
print(n[:])

[1, 12, 15, 11]

In [37]:
st='m*a*n*i*t*e*j*a'
print(st.split('*'))
st="maniteja"
print("#".join(st))

['m', 'a', 'n', 'i', 't', 'e', 'j', 'a']
m#a#n#i#t#e#j#a

In [ ]:
m=[1,2,3,4,5,6,7,8,9]
for i in len(m):
    m[i]+=5
print(m[:])

In [2]:
st="mani teja"
freq={}
for i in st:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

{'m': 1, 'a': 2, 'n': 1, 'i': 1, ' ': 1, 't': 1, 'e': 1, 'j': 1}

In [15]:
m=[1,2,3,4,5,6,7,8,9]
m.append(23)
def gtn(e):
    f=max(e)
    print(f)
gtn(m)

23

In [17]:
a,b=5,9
def swap(m,n):
    temp = m
    m = n
    n = temp
    print(m,n)
swap(a,b)

9 5

In [23]:
m=3+1j
print(type(m))

<class 'complex'>

In [6]:
import pandas as pd
import numpy as np
df=pd.read_csv("titanic.tab",sep ="\t")
df
#df.head(10)
#df.tail(4)
#df.info(verbose=False)
#df.index
#print(type(df.index))
#df.columns
#col_values=df.columns.tolist()
#print(col_values)
#print(type(col_values))
#df.shape
#df.drop('sex',axis=1,inplace=True)
#df.rename(columns={'survived':'live'},inplace=True)
#df.columns
#df.describe()
#df.head(10)
#df.loc[[0,1,2,4,5,6,7,8,2202]]
df.loc[0:1]

  status  age  sex survived
0      d    d    d        d
1    NaN  NaN  NaN    class

In [2]:
import pandas as pd
import numpy as np
df=pd.read_excel("Canada.xlsx",skiprows=range(20))
#df.head(20)
#df.tail(4)
#df.info(verbose=False)
#df.index
#print(type(df.index))
#df.columns
#col_values=df.columns.tolist()
#print(col_values)
#print(type(col_values))
#df.shape
#df.drop('RegName',axis=1,inplace=True)
#df.rename(columns={'AreaName':'localitity','Regname':'country'},inplace=True)
#df
#df.columns
#df.describe()
#df.head(10)
#df.loc[[0,1,2,28]]
#df.loc[3]['AreaName']
#df['total']=df.sum(axis=1,numeric_only=True)
#df
#df.isnull(),sum(),type
#df.AreaName.tolist
#df[["Coverage","AreaName"]]
#df['AreaName'][3]
#df.set_index('AreaName',inplace=True)
#df.iloc[4]
#df.loc["Africa",2006]
#df.iloc[4,30]
#df.iloc[:,:-1]

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,...,..,..,..,..,..,..,..,1,1,NaN
1,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,7726,7083,6750,6669,6705,6922,8591,8956,8846,NaN
2,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2452,2802,2834,2951,3034,3255,3369,3146,4602,NaN
3,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,12478,11323,12705,11750,13456,16320,19271,15712,15453,NaN
4,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1203,1012,1148,1230,1184,1235,1306,1049,1348,NaN
5,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,...,4333,5303,5751,5684,5511,6802,8355,6578,7834,NaN
6,Immigrants,Foreigners,Africa Total,NaN,3951,4363,3819,2671,2639,2650,...,28192,27523,29188,28284,29890,34534,40892,35441,38083,NaN
7,Immigrants,Foreigners,Asia,Central Asia,..,..,..,..,..,..,...,995,1134,903,936,805,962,905,769,1029,NaN
8,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,...,43550,50306,41763,35591,39602,37497,37954,35159,40449,NaN
9,Immigrants,Foreigners,Asia,South-Eastern Asia,8693,9191,9022,8845,12161,9787,...,18056,22809,25105,27256,30614,34166,44199,40494,37695,NaN
10,Immigrants,Foreigners,Asia,Southern Asia,11315,11566,11591,10157,9607,7654,...,58521,69510,66742,56032,54154,53083,62284,53673,60568,NaN
11,Immigrants,Foreigners,Asia,Western Asia,4181,4662,4120,2440,2882,3430,...,13728,15494,14541,13644,14719,15726,18503,16799,12477,NaN
12,Immigrants,Foreigners,Asia Total,NaN,31025,34314,30214,24696,27274,23850,...,134850,159253,149054,133459,139894,141434,163845,146894,152218,NaN
13,Immigrants,Foreigners,Europe,Eastern Europe,1467,3698,6873,5459,4433,3969,...,18360,16724,14389,13886,11988,11759,11803,9612,9464,NaN
14,Immigrants,Foreigners,Europe,Northern Europe,23721,26608,22134,10725,10845,10212,...,8486,8153,7969,9186,10042,9846,9816,7285,7616,NaN
15,Immigrants,Foreigners,Europe,Southern Europe,7762,7037,5222,3083,3033,2868,...,3200,2806,2417,2290,2692,2948,2661,2466,2854,NaN
16,Immigrants,Foreigners,Europe,Western Europe,6810,7459,8491,5371,3976,3795,...,8036,8272,8278,8133,9970,10525,9145,7415,9243,NaN
17,Immigrants,Foreigners,Europe Total,NaN,39760,44802,42720,24638,22287,20844,...,38082,35955,33053,33495,34692,35078,33425,26778,29177,NaN
18,Immigrants,Foreigners,Latin America and the Caribbean,Caribbean,7045,8310,8326,6998,5553,6048,...,6630,6816,6652,7826,8862,8847,10549,11958,11898,NaN
19,Immigrants,Foreigners,Latin America and the Caribbean,Central America,734,921,1612,3648,4087,4862,...,3346,3990,4140,5039,4891,4814,5692,5821,6019,NaN
20,Immigrants,Foreigners,Latin America and the Caribbean,South America,5302,5984,6831,4781,4038,4261,...,12205,13941,13884,13146,12794,13206,12577,10077,9256,NaN
21,Immigrants,Foreigners,Latin America and the Caribbean Total,NaN,13081,15215,16769,15427,13678,15171,...,22181,24747,24676,26011,26547,26867,28818,27856,27173,NaN
22,Immigrants,Foreigners,Northern America,Northern America,9378,10030,9074,7100,6661,6543,...,6990,8394,9613,9463,10190,8995,8142,7676,7891,NaN
23,Immigrants,Foreigners,Oceania,Australia and New Zealand,1304,1119,848,457,481,467,...,1280,1279,1193,1383,1498,1538,1423,1226,1399,NaN
24,Immigrants,Foreigners,Oceania,Melanesia,632,707,816,558,391,448,...,497,300,278,304,331,313,401,316,273,NaN
25,Immigrants,Foreigners,Oceania,Micronesia,1,..,..,1,..,..,...,1,2,1,3,1,2,..,..,2,NaN
26,Immigrants,Foreigners,Oceania,Polynesia,5,13,11,2,6,5,...,10,4,1,3,4,7,10,6,5,NaN
27,Immigrants,Foreigners,Oceania Total,NaN,1942,1839,1675,1018,878,920,...,1788,1585,1473,1693,1834,1860,1834,1548,1679,NaN
28,Immigrants,Foreigners,Unknown,Unknown,44000,18078,16904,13635,14855,14368,...,3739,4785,4583,4348,4197,3402,3731,2554,1681,NaN

In [ ]:
for row in range(6):
    for col in range(7):
        if (row==0 and (col%3)!=0 )or( row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print("*",end=" ")
        else:
            print(" ",end=" ") 
    print()